@mixin default ($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: $border-color;
    font-size: $font-size;
    @content
}
.container {
    @include default (green,1px solid red) {
        text-align:center;
    }
    h1 {
        text-decoration:underline 2px blue;
    }
    .main {
        display:flex;
        padding:10px;
        article:nth-child(odd) {
            @include default (blue, 1px solid green) {
                text-align: center;
            }
        }
        article:nth-child(even) {
            @include default (red, 1px solid green) {
                text-align: center;
            }   
        }
    }
    .footer {
        @include default (green, 1px solid blue, 24px) {
            margin:10px;
            padding:10px;
        }
    }
}