/* reset + alcune proprietà */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:sans-serif;
}

/* || BODY ho impostato gli elementi al centro pagina usando sia align items che justify content */

body{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:50px; 
}

/* || CARD ho impostatoto aspetto e dimensioni delle cards */


.card {
    background-color:rgb(175, 125, 125);
    box-shadow: 0 0px 20px grey;
    display:flex;
    flex-direction:column;
    width:300px;
    border-radius:10px;
    margin:25px;
}

/* Ho separato gli elementi alla cima della card per poter usare il flex e sistemarli agli estremi della card */

.card .top {
    display:flex;
    justify-content:space-between;
}

/* || Ho improvvisato utilizzando una lista perché non riuscivo ad inserire correttamente un'immagine con 3 puntini...
    Ho poi sistemato la posizione deella lista */


.card .top .dotIcon ul{
    display:flex;
    flex-direction:row;
    list-style:disc;
    margin-right:-20px;
}

.card .top .dotIcon ul li {
    margin-right:14px;
    margin-top:10px;
}

/* || IMG */

.card img{
    width:100%;
    border-radius:10px;
}


/* || Testi vari */

p {
    padding-top:5px;
    padding-left:10px;
}



/* Ciao Jeremy, come va? Spero tutto bene, domani è il compleanno di tuo fratello e sarai molto contento. 
    Se hai consigli da darmi su come meglio impostare l'esercizio fai pure, sono tutto orecchie. ho litigato un po' con flex e con le immagini. Ho avuto difficoltà perché continuava a crearsi spazio vuoto nella carda, fin quando non ho impostato anche il justify content nel body. Buon fine settimana. */




@media screen and (max-width:375) {
    body {
        display:flex;
        width:100%;
    }
}


@media screen and (max-width: 768px) {
    body {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:flex-start;
        width:100%;
        margin:0;
        padding:0;
    }
}  