@charset "UTF-8";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid red;
  color: green;
  padding: 1rem;
}
.container h1 {
  border-bottom: 0.125rem solid blue;
}
.container h2 {
  border: 0.0625rem solid red;
  padding: 1rem;
}
.container .main {
  display: flex;
}
.container .main article {
  border: 0.0625rem solid green;
  text-align: center;
  padding: 1rem;
}
.container .main article:nth-child(odd) {
  color: blue;
}
.container .main article:nth-child(even) {
  color: red;
}
.container .flow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.container .flow div:nth-child(1) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #0d0d0d;
  background-color: #f2f2f2;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(2) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #1a1a1a;
  background-color: #e6e6e6;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(3) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #262626;
  background-color: #d9d9d9;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(4) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #333333;
  background-color: #cccccc;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(5) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #404040;
  background-color: #bfbfbf;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(6) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #4d4d4d;
  background-color: #b3b3b3;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(7) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #595959;
  background-color: #a6a6a6;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(8) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #666666;
  background-color: #999999;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(9) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #737373;
  background-color: #8c8c8c;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(10) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: gray;
  background-color: gray;
  background-color: blue;
  color: red;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(11) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #8c8c8c;
  background-color: #737373;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(12) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #999999;
  background-color: #666666;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(13) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #a6a6a6;
  background-color: #595959;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(14) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #b3b3b3;
  background-color: #4d4d4d;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(15) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #bfbfbf;
  background-color: #404040;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(16) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #cccccc;
  background-color: #333333;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(17) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #d9d9d9;
  background-color: #262626;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(18) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #e6e6e6;
  background-color: #1a1a1a;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .flow div:nth-child(19) {
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
  /* color: color.adjust($Spooky_white, $lightness: +5%);
  background-color: color.adjust($base, $lightness: -5%); */
  /* si può impostare il loop per cambiare colore usando color.adjust? */
  color: #f2f2f2;
  background-color: #0d0d0d;
}
.container .flow .fs-1rem {
  font-size: 1rem;
}
.container .flow .fs-2rem {
  font-size: 2rem;
}
.container .flow .fs-3rem {
  font-size: 3rem;
}
.container .footer {
  border: 1px solid blue;
  width: 100%;
}
.container .footer article {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
