@use "module.scss" as f;

@mixin default ($color, $border, $font-size:f.rem(16)) {
    color: $color;
    border: $border;
    font-size: $font-size;
    @content
}

.container {
    @include default (f.$color_G, f.$Border f.$color_R) {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: f.rem(16);
    gap: f.rem(16);
    } 
    .title {
        border-bottom: f.rem(2) solid f.$color_B;
        &-second {
            @extend .container;
            font-size: f.rem(24);
        }
    }
    .main{
        display:flex;
        text-align:center;
        article{
            &:nth-child(odd){
                @include default (f.$color_B, f.rem(1) solid f.$color_G) {
                    padding:f.rem(16)
                }
            }
            &:nth-child(even){
                @include default (f.$color_R, f.rem(1) solid f.$color_G) {
                    padding: f.rem(16)
                }
            }
        }
    }
    .footer {
        width:100%;
        text-align:center;
        border: f.$Border f.$color_B;
        font-size: f.rem(24);
        article{
            padding:f.rem(16)
        }
    }
}