body{
    font-family:sans-serif
}
main{
    background-color:lightslategray;
    width: 300px;
    border: solid 4px black;
    border-radius: 10px;
    overflow:hidden;
}
img{
    width:100%;
    display:block;
}
article{
    margin:0%;
}
div{
    padding:10px;
}
h1,h3,p{
    margin:0%;
}
h1{
    font-size:1,5rem;
}
div, footer{
    border:solid 1px black;
}
h3{
    margin:0%;
}
footer{
    padding:10px;
}