:root{
    --black:#011212;
    --red:#ff8800;
    --width:100px;
    --height:100px;
    --circle:50px;
    --display:table-cell;
    --textCenter:center;
    --verticalAlign: middle;
}

body {
    background-color:var(--black);
}


div.ball{
    background-color:var(--red);
    width:var(--width);
    height:var(--height);
    border-radius:var(--circle);
    display:var(--display);
    text-align:var(--textCenter);
    vertical-align:var(--verticalAlign);
}


/* body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
}
 */