$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
.container {
    border:2px solid $color-primary;
    text-align:center;
    h1 {
        color: $color-tertiary;
        text-decoration:underline 2px $color-secondary;
    }
    section {
        display:flex;
        padding: 10px;
        article{
            p {
                padding: 20px;
            }
            border:2px solid $color-tertiary;
            &:nth-child(odd) {
                color: $color-secondary;
            }
            &:nth-child(even) {
                color: $color-primary;
            }
        }
    }
}