body{
    display:grid;
    grid-template-areas:
        "green green green"
        "yellow red blue"
        "orange orange blue";
    box-sizing:border-box;
}

#green{
    grid-area:green;
}

#yellow{
    grid-area:yellow;
}

#yellow ul{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:min-content;
}

#red{
    grid-area:red;
}

#red ul{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:min-content;
}

#orange{
    grid-area:orange;
}

#blue{
    grid-area:blue;
}

