$color_G: green;
$color_B: blue;
$color_R: red;


$Border:1px solid;


$position_center: center;
$decoration__: underline;


$remValue: rem;


@function rem($number) {
    $value: ($number / 16) + $remValue;
    @return $value;
}


