@use "module.scss" as f;

@mixin default ($color, $border-color, $font-size:f.rem(16)) {
    color: $color;
    border: $border-color;
    font-size: $font-size;
    @content
}
.container {
    @include default (f.$color_G, f.$Border) {
        text-align:f.$position_center;
    }
    h1 {
        text-decoration:f.$decoration__ f.rem(2) f.$color_B;
    }
    .main {
        display:flex;
        padding: f.rem(16);
        article:nth-child(odd) {
            @include default (f.$color_B, f.$Border f.$color_G, $font-size:f.rem(16)) {
                text-align: f.$position_center;
                padding: f.rem(16)
            }
        }
        article:nth-child(even) {
            @include default (f.$color_R, f.$Border f.$color_G ) {
                text-align: f.$position_center;
                padding: f.rem(16)
            }   
        }
    }
    .footer {
        @include default (f.$color_G, f.$Border f.$color_B, f.rem(24)) {
            margin: f.rem(16);
            padding: f.rem(16);
        }
    }
}